* {
    box-sizing: border-box;
    /* font */
    font-family: "Averta CY", sans-serif;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

html {
    scroll-behavior: smooth;
}


/*BARRA DE NAVEGACIÓN*/

ul {
    list-style-type: none;
    margin: 0;
    font-size: 25px;
    padding: 0 15% 0 10%;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white;
}


/*Header*/

.header {
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 4.5vw;
    color: #000000;
}

.header h2 {
    font-size: 3vw;
}

.header h3 {
    font-size: 2vw;
}


/* -- Clases de columnas -- */

.one-column {
    float: left;
    width: 100%;
    padding: 10%;
}

.one-column h1 {
    font-size: 5vw;
    text-align: center;
}

.two-column {
    padding: 2%;
    float: left;
    width: 50%;
}

.two-column img {
    width: 100%;
}

.two-column h1 {
    font-size: 5vw;
}

.two-column p {
    font-size: 3vw;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}

.four-column p {
    text-align: center;
}

.four-column img {
    width: 100%;
}

#section-2 {
    background-color: #28eca5;
}

#section-5 {
    background-color: #46a6fc;
}

#footer {
    background-color: black;
    color: white;
}

#footer p {
    font-size: 20px;
    text-align: left;
}


/*Clases auxiliares*/

.padding-0 {
    padding: 0px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-widht:700px) {
    .two-column {
        width: 100%;
    }
    .four-column {
        width: 500%;
    }
    li a {
        font-size: 30px;
    }
    ul {
        padding: 0px;
    }
}